.about-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: flex-start;
    min-width: 0;  
}

.panel-container {
    flex: 1 1 auto;
    text-align: left;
    box-sizing: border-box;
    min-width: 0; 
    padding: max(1rem, 4%); 
}

@media (min-width: 1024px) {
    .about-container {
        flex-direction: row; 
        align-items: flex-start;
    }
    .panel-container {
        padding: 4rem;
    }
}

h1 {
    margin-top: 0px;
    line-height: 1.2;
    margin-bottom: 20px;
}

h2 {
    word-break: break-word; 
    margin-bottom: 40px;
}

p {
    margin-bottom: 10px;
}

.MuiTimeline-root {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.MuiTimelineItem-root::before {
    display: none !important;
}

.MuiTimelineContent-root .MuiTypography-root {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}