.about-container {
    flex-wrap: wrap;
    display: flex;
    box-sizing: border-box;
    align-items: flex-start;
}

.panel-container {
    flex: 1 1 300px;
    padding: 4rem;
    text-align: left;
    box-sizing: border-box;
}

.hover-container {
  outline: 0.1px solid black;
  position: absolute;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.4);
  z-index: 1;
  border-radius: 8px;
  padding: 1rem;
  max-width: 70%;
}

h1 {
    margin-top: 0px;
    line-height: 1.2;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 40px;
}

p {
    margin-bottom: 10px;
}

.MuiTimelineItem-root::before {
  display: none !important;
}

.MuiTimelineContent-root .MuiTypography-root {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}